# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencias
node_modules

# Build/Distribución
dist
dist-ssr
.vite
coverage

# Configuración local
*.local
.env
.npm
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Cachés
.eslintcache
.prettiercache

# Plataformas de despliegue
.vercel
.netlify
