.wheel-container {
    position: relative;
  }
  
  .spin-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    width: 70px;
    height: 70px;
    background-color: #4caf50;
    border-color: black 1px solid;
    border-radius: 50%;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    color: white;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
  }
  
  .spin-button:hover {
    background-color: whitesmoke;
  }
  
  .spin-button-disabled {
    background-color: #45a049;
    cursor: not-allowed;
  }
  