@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos personalizados */
.custom-class {
    background-color: #f0f0f0; /* Ejemplo de un estilo específico */
    padding: 1rem;
}
  
button {
    border-radius: 0.5rem; /* Sobrescribiendo estilos de botones */
}
