@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Archivo styles.css */
@font-face {
  font-family: 'MyCustomFont';
  src: url('./fonts/MyCustomFont-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}


@font-face {
  font-family: 'MyCustomFont';
  src: url('./fonts/MyCustomFont-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

#map {
  
  height: 500px;
  width: 100%;
  border: 2px solid #ccc; /* Añade un borde si lo prefieres */
  border-radius: 8px; /* Bordes redondeados */
}

.carousel {
  @apply relative w-full flex items-center overflow-hidden;
}

.card-container {
  @apply transition-transform duration-300 ease-in-out;
}

.nav {
  @apply absolute z-10 bg-primary text-white p-2 rounded-full shadow-lg cursor-pointer;
}

.nav.left {
  @apply left-4;
}

.nav.right {
  @apply right-4;
}

.card {
  @apply bg-white p-6 rounded-lg shadow-md flex-shrink-0 w-80;
}

body{
  padding-left:120px;
  padding-right: 120px;
}
h2{
  margin-bottom:80px;
  margin-top: 80px;
}