@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

#map {
  height: 500px;
  width: 100%;
  border: 2px solid #ccc; /* Añade un borde si lo prefieres */
  border-radius: 8px; /* Bordes redondeados */
}

.carousel {
  @apply relative w-full flex items-center overflow-hidden;
}

.card-container {
  @apply transition-transform duration-300 ease-in-out;
}

.nav {
  @apply absolute z-10 bg-primary text-white p-2 rounded-full shadow-lg cursor-pointer;
}

.nav.left {
  @apply left-4;
}

.nav.right {
  @apply right-4;
}

.card {
  @apply bg-white p-6 rounded-lg shadow-md flex-shrink-0 w-80;
}
